.info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 150;
  background: white;
  margin-bottom: 6px;
  padding: 0 16px;

  .count {
    position: relative;
    top: -3px;
  }
}

.page-container {
}

.note.positive .amount {
  border-color: #4caf50;
}

.note {
  border: 1px solid #673ab7;
  border-radius: 8px;
  margin: 0 16px 8px;
  padding: 8px;
  display: flex;
  flex-direction: row;

  .title-container {
    min-width: 80px;
    padding-right: 15px;
    max-height: 90px;
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .positive .amount {
    border-color: #7cb342;
  }
  .amount {
    border: 2px solid #e57373;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
  }
  .description {
    margin-bottom: 4px;
  }
}

.progress-bar {
  position: relative;
  top: 66px;
  line-height: 0;
  height: 0;
}

.viewport {
  height: calc(100% - 72px);
  padding: 0 16px;
}
