<div class="scrollable-tab-area page-container">
  <div class="info-container">
    <span class="count">Всего: {{notes && notes.length}}</span>
    <mat-form-field>
      <mat-select [disableOptionCentering]="true" [(value)]="selectedOrder" (selectionChange)="onChangeOrder()">
        <mat-option *ngFor="let type of orderTypes" [value]="type.value">
          {{type.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div *ngFor="let note of notes" class="note">
    <div class="title-container">
      <div>{{note.owner | person}}</div>
      <div class="amount">{{note.amount}}</div>
      <div>{{note.date | date}}</div>
    </div>
    <div>
      <div class="description">{{note.description}}</div>
      <div *ngFor="let moneyPerPerson of note.moneyPerPerson">
        {{allUsers.get(moneyPerPerson.personId) | person}} - {{moneyPerPerson.money}}
      </div>
    </div>
  </div>
</div>
