.sort-container {
  padding-left: 16px;
  width: 145px;
  height: 40px;
  line-height: 40px;
}

.people-container {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.user-item {
  display: flex;
  border-bottom: 1px solid rgba(0,0,0,0.15);
  padding-top: 16px;

  .icon-container {
    width: 82px;
    height: 64px;
    display: flex;
    justify-content: center;
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }

  .user-info-container {
    display: flex;
    flex: 1;
    justify-content: space-between;
  }

  .user-item-balance-info {
    display: flex;
    justify-content: space-between;
    width: 136px;
  }

  .action-container {
    margin-right: 16px;
    color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    margin-top: -15px;
  }
}

