<div class="scrollable-tab-area">
    <div class="reduce-container" *ngIf="persons && persons.length > 0">
        <div class="select-container" >
            <mat-select [disableOptionCentering]="true" [(value)]="selectedPerson" (selectionChange)="onChangePerson()">
                <mat-option *ngFor="let person of persons" [value]="person">
                    {{person}}
                </mat-option>
            </mat-select>
            <input matInput type="number" autocomplete="off" [formControl]="amountControl">
        </div>
        <button mat-raised-button color="primary" type="button" (click)="reduce()">Списать</button>
    </div>
    <div class="error-container">
        <mat-error *ngIf="amountControl.hasError('min') || amountControl.hasError('max')">
            Сумма должна быть между 1 и {{maxValue}} рублей
        </mat-error>
    </div>

    <canvas id="myChart" style="height: 350px; width: 100vw;"></canvas>
    <div class="common-write-off-container" *ngIf="persons && persons.length > 0">
        <button mat-raised-button color="primary" type="button" (click)="commonReduce()">Взаимное списание</button>
    </div>
</div>
