<div class="scrollable-tab-area" *ngIf="!goodFriends else good">
  <!--<div *ngIf="loading" class="loading">-->
  <!--<mat-spinner></mat-spinner>-->
  <!--<div class="click-handler"></div>-->
  <!--</div>-->
  <!--<div class="reduce-container" *ngIf="hasCredits else myCredit">-->
  <!--<div class="select-container" [formGroup]="formGroup">-->
  <!--<mat-select [disableOptionCentering]="true" [(value)]="selectedPerson" (selectionChange)="onChangePerson()">-->
  <!--<mat-option *ngFor="let person of persons" [value]="person">-->
  <!--{{person}}-->
  <!--</mat-option>-->
  <!--</mat-select>-->
  <!--<input matInput type="number" autocomplete="off" formControlName="amount" [max]="999" [min]="0">-->
  <!--</div>-->
  <!--<mat-error-->
  <!--*ngIf="formGroup.controls.amount.hasError('min') || formGroup.controls.amount.hasError('max') || formGroup.controls.amount.hasError('required')">-->
  <!--Размер суммы должен быть между 1 и {{maxValue}} рублей-->
  <!--</mat-error>-->

  <!--<button mat-raised-button color="primary" type="button" (click)="reduce()">Списать</button>-->

  <!--</div>-->
  <!--<canvas id="myChart" style="height: 350px; width: 100vw; margin-top: 14px"></canvas>-->
  <!--<div class="common-write-off-container" *ngIf="hasMetualCredits">-->
  <!--<button mat-raised-button color="primary" type="button" (click)="mutualReduce()">Взаимное списание</button>-->
  <!--</div>-->
  <div class="sort-container">
      <mat-select [disableOptionCentering]="true" [(value)]="selectedOrder" (selectionChange)="onChangeOrder()">
        <mat-option *ngFor="let type of orderTypes" [value]="type.value">
          {{type.viewValue}}
        </mat-option>
      </mat-select>
  </div>
  <div class="people-container">
    <div class="user-item" *ngFor="let user of viewUsers; trackBy: id">
      <div class="icon-container">
        <img src="{{user.photo_200_orig}}">
      </div>
      <div class="user-info-container">
        <div class="user-info">
          <div>{{user.first_name + " " + user.last_name}}</div>
          <div class="user-item-balance-info secondary-text ">Мне должен: <span class="positive">{{getPositiveBalance(user.id)}}</span>
          </div>
          <div class="user-item-balance-info secondary-text ">Я должен:<span class="negative">{{getNegativeBalance(user.id)}}</span>
          </div>
        </div>
        <div class="action-container">
          <span ngClass="{{getBalance(user.id) >= 0 ? 'positive' : 'negative'}}">{{getBalance(user.id)}}</span>
          <mat-icon>keyboard_arrow_right</mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #good>
  <div class="good">
    <mat-icon>sentiment_satisfied_alt</mat-icon>
    <p>Вы чисты перед долгами)</p>
  </div>
</ng-template>
