::ng-deep {
  .mat-tab-label {
    width: 33.3333333% !important;
  }
  .mat-tab-label.mat-tab-label-active {
    opacity: 1 !important;
  }
  .mat-ink-bar {
    height: 4px !important;
    background: #ffd740 !important;
  }
}

.add-new-note {
  position: fixed;
  bottom: 40px;
  right: 25px;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
