<div class="wrapper">
    <mat-toolbar color="{{readonlyMode ? '' :'primary'}}" class="toolbar toolbar-with-icon">
        <div class="title-container">
            <button mat-icon-button (click)="moveToMainPage()">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <span *ngIf="!readonlyMode">Создание новой записи</span>
            <span *ngIf="readonlyMode">Создал: {{owner | person : false}}</span>
        </div>
        <button *ngIf="!statusAppService.isErrorMode && !readonlyMode" class="submit-button" mat-icon-button
                color="primary"
                (click)="submitButton.click()">
            <mat-icon>done</mat-icon>
        </button>
        <button *ngIf="!statusAppService.isErrorMode && readonlyMode && isEditableNote" class="edit-button"
                mat-icon-button
                (click)="changeModeToEdit()">
            <mat-icon>edit</mat-icon>
        </button>
    </mat-toolbar>
    <div class="scrollable-area">
        <div *ngIf="loading" class="loading">
            <mat-spinner></mat-spinner>
            <div class="click-handler"></div>
        </div>
        <form [formGroup]="addNewNoteForm" class="form-container">
            <mat-form-field appearance="outline">
                <mat-label>Заголовок</mat-label>
                <input matInput #title formControlName="title" type="text" autocomplete="off" maxlength="25">
                <mat-hint align="end">{{title.value.length}} / 25</mat-hint>
                <mat-error *ngIf="addNewNoteForm.controls.title.hasError('maxlength')">
                    Заголовок не может иметь более 25 символов
                </mat-error>
            </mat-form-field>

            <div class="note-type-container"
                 [class.disabled]="readonlyMode">
                <div class="note-type" mat-ripple *ngFor="let type of noteTypes"
                     [ngClass]="{'selected': type === selectedType}">
                    <i class="note-icon-32px" [ngClass]="type + '-icon'" (click)="selectedType = type"></i>
                </div>
            </div>

            <div class="photo-amount-date-container">
                <app-photo-uploader class="photo-container"
                                    [initialUrl]="imageUrl"
                                    [readonly]="readonlyMode"></app-photo-uploader>
                <div>
                    <mat-form-field appearance="outline" class="amount-container">
                        <mat-label>Сумма</mat-label>
                        <input matInput formControlName="amount" type="number" autocomplete="off" max="999" min="1">
                        <mat-error
                                *ngIf="addNewNoteForm.controls.amount.hasError('min') || addNewNoteForm.controls.amount.hasError('max')">
                            Размер суммы должен быть между 1 и 999 рублей
                        </mat-error>
                        <mat-error
                                *ngIf="addNewNoteForm.controls.amount.hasError('manualAmountError')">
                            Сумма не равна сумме участников: {{addNewNoteForm.controls.amount.errors.manualAmountError}}
                        </mat-error>
                        <div matSuffix class="amount-icon">Br</div>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Дата</mat-label>
                        <input matInput [matDatepicker]="picker" placeholder="Выберите дату" formControlName="date"
                               [max]="maxDate">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker touchUi #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>

            <mat-form-field appearance="outline" class="person-container"
                            [class.disabled]="readonlyMode"
                            [class.has-error]="!!addNewNoteForm.controls.persons.errors && !!addNewNoteForm.controls.persons.errors.amountError">
                <mat-label>Участники</mat-label>
                <app-money-spreader
                        [persons]="allPersons"
                        [amount]="addNewNoteForm.controls.amount.value"
                        [control]="addNewNoteForm.controls.persons"
                        [amountControl]="addNewNoteForm.controls.amount"
                        [readonly]="readonlyMode">
                </app-money-spreader>
                <input disabled="disabled" class="person-select" matInput formControlName="persons" autocomplete="off">
            </mat-form-field>

            <mat-form-field appearance="outline"
                            [class.disabled]="readonlyMode">
                <mat-label>Описание</mat-label>
                <div *ngIf="readonlyMode"
                     class="readonly-description"
                     [innerHTML]="description.value | noteDescription : selectedType: allPersons"></div>
                <textarea matInput formControlName="description" #description class="description"
                          [hidden]="readonlyMode && description.value"
                          maxlength="200"></textarea>
                <mat-hint align="end">{{description.value.length}} / 200</mat-hint>
            </mat-form-field>

            <button type="submit" hidden #submitButton (click)="submit()"></button>
        </form>
    </div>
</div>
