.all-select ::ng-deep {
  .mat-pseudo-checkbox {
    display: none;
  }

  .mat-option-text {
    color: rgba(0, 0, 0, .87) !important;
  }
}

::ng-deep {
  .mat-chip {
    width: 100%;
  }
}

.toolbar {
  display: flex;
  justify-content: space-between;
}

.title-container {
  display: flex;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;

  .mat-form-field {
    width: 100%;
  }
}

.edit-button, .submit-button {
  width: 30px;
  height: 30px;
  line-height: 30px;
}

.submit-button {
  background: white;
}

.person-select {
  height: 0;
  line-height: 0;
  visibility: hidden;
  pointer-events: none;
}

.amount-container {
  margin-bottom: 12px;

  ::ng-deep {
    .mat-form-field-suffix {
      position: relative;
      top: -4px;
      right: 5px;
    }

    .mat-error {
      margin-right: -15px;
    }
  }
}

.amount-icon {
  border: 2px solid;
  width: 24px;
  border-radius: 50%;
  height: 25px;
  text-align: center;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.54);
}

.person-container:focus ::ng-deep {
  .mat-form-field-outline-thick {
    color: #673ab7;
  }
}

.description {
  height: 54px;
}

.readonly-description {
  white-space: pre-wrap;

  ::ng-deep {
    table {
      width: 100%;
    }

    tr {
      height: 10px;
    }

    td {
      padding: 0;
      margin: 0;
    }

    td:nth-child(2) {
      width: 60px;
      position: relative;
      right: -13px;
    }
  }
}

.person-container {
  ::ng-deep {

    mat-label {
      background: white !important;
      padding: 0 3px;
    }

    .mat-form-field-flex:hover .mat-form-field-outline {
      opacity: 1;

      .mat-form-field-outline-start,
      .mat-form-field-outline-gap,
      .mat-form-field-outline-end {
        border-width: 0.6px;
        border-color: rgba(0, 0, 0, .12);
      }
    }
  }

  &.has-error {
    ::ng-deep {
      .mat-form-field-outline-start,
      .mat-form-field-outline-gap,
      .mat-form-field-outline-end {
        border-color: #f44336;
      }
    }
  }

}

.note-type-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 14px;
  box-sizing: border-box;

  .note-type {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.12);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .selected {
    border-color: #673ab7;
  }
}


.photo-amount-date-container {
  display: flex;
  width: 100%;

  .photo-container {
    min-width: 140px;
    max-width: 140px;
    margin: 4px 16px 25px 0px;
    height: 160px;
  }

  ::ng-deep {
    .mat-form-field-infix {
      width: auto !important;
    }
  }
}
