<div class="wrapper">
    <mat-toolbar class="toolbar toolbar-with-icon">
        <div class="title-container">
            <button mat-icon-button (click)="moveToMainPage()">
                <mat-icon>close</mat-icon>
            </button>
            <span>{{user && user.first_name}} {{user && user.last_name}}</span>
        </div>
        <div class="toolbar-action"
             [class.disabled]="statusAppService.isErrorMode">
            <i *ngIf="canMutualWriteOff"
               mat-ripple class="mutual-icon" (click)="openMutualConfirmDialog()"></i>
            <i *ngIf="hasOwnOpenedNotes"
               mat-ripple class="debt-icon " (click)="openConfirmDialog()"></i>
        </div>
    </mat-toolbar>
    <div class="scrollable-area">
        <cdk-virtual-scroll-viewport [itemSize]="notes?.length" *ngIf="notes?.length > 0" class="viewport">
            <div *cdkVirtualFor="let note of notes;" class="note"
                 mat-ripple
                 (click)="openNoteView(note)"
                 [class.negative]="note.ownerId !== me.id"
                 [class.closed]="isClosedNote(note)">
                <div class="title-container">
                    <i class="note-type-icon" ngClass="{{note.type + '-icon'}}"></i>
                    <div>
                        <div class="primary-text">{{note.title}}</div>
                        <div class="secondary-text">{{note.date | date}}</div>
                    </div>
                </div>
                <div class="amount">
                    <div>{{note.ownerId !== me.id ? '-' : ''}}{{note.moneyPerPerson | money : note.ownerId === me.id ? user.id : me.id}}</div>
                    <mat-icon class="primary-text">keyboard_arrow_right</mat-icon>
                </div>
            </div>
        </cdk-virtual-scroll-viewport>
        <div *ngIf="notes?.length === 0" class="empty-message">
            <img src="assets/do-not-know.jpg">
            <p class="primary-text">У вас нету общих записей с этим пользователем</p>
        </div>
    </div>
</div>
<div *ngIf="loading" class="loading">
    <mat-spinner></mat-spinner>
    <div class="click-handler"></div>
</div>


