.vk-icon {
  display: flex;
  width: 160px;
  align-items: center;
  justify-content: space-around;
  background: #4a76a8;
  color: white;
}

.vk-icon::before {
  content: "";
  background: url("../../../assets/vk-icon.png");
  display: block;
  width: 20px;
  height: 12px;
}

.full-height {
  height: 100vh;
  margin-top: -70px;
}

.center-column {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

button {
  background: #4a76a8!important;
  color: white;
  margin-top: 20px;
}
