/* You can add global styles to this file, and also import other style files */
@import "~viewerjs/dist/viewer.css";
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-toolbar {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

textarea {
  resize: none !important;
}

div[style*="width: 80%;"] {
  .mat-dialog-container {
    padding: 0;
    overflow: hidden;
  }
}

body, html {
  overflow: hidden;
}

.wrapper {
  background: white;
}

.scrollable-area {
  overflow-y: auto;
  height: calc(100vh - 56px);
}

.toolbar-with-icon.mat-toolbar {
  padding-left: 0;
}

mat-tab-body {
  min-height: calc(100vh - 104px) !important;
}

.loading {
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  top: 0;
  z-index: 500;

  .click-handler {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: black;
    z-index: -1;
    opacity: 0.15;
  }

  .mat-progress-spinner circle, .mat-spinner circle {
    //stroke: #8bc34a;
  }
}

.good {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  mat-icon {
    font-size: 170px;
    height: 170px;
    width: 170px;
    margin-top: -60px;
    color: #7cb342;
  }

  text-align: center;
  line-height: 24px;
}

.primary-text {
  color: rgba(0, 0, 0, 0.87);
}

.secondary-text {
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
}

.bold-text {
  font-weight: 500;
}

.positive {
  color: #8bc34a;
}

.negative {
  color: #f44336;
}

.note-icon:before {
  content: "";
  background-repeat: no-repeat !important;
  display: block;
  width: 36px;
  height: 36px;
  background-size: 36px !important;
}

.note-icon.note-icon-32px:before {
  width: 32px;
  height: 32px;
  background-size: 32px !important;
}

.beer-icon:before {
  @extend .note-icon;
  background: url("assets/beer.svg");
}

.pizza-icon:before {
  @extend .note-icon;
  background: url("assets/pizza.svg");
}

.cinema-icon:before {
  @extend .note-icon;
  background: url("assets/cinema.svg");
}

.gift-icon:before {
  @extend .note-icon;
  background: url("assets/gift.svg");
}

.food-icon:before {
  @extend .note-icon;
  background: url("assets/food.svg");
}

.party-icon:before {
  @extend .note-icon;
  background: url("assets/party.svg");
}

.mutual-icon:before {
  @extend .note-icon;
  background: url("assets/hand-shake.svg");
}

.debt-icon:before {
  @extend .note-icon;
  background: url("assets/dollar.svg");
}

.remainder-icon:before {
  @extend .note-icon;
  background: url("assets/remainer.svg");
}




.viewer-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  direction: ltr;
  font-size: 0;
  line-height: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
  touch-action: none;
  -webkit-touch-callout: none;
  user-select: none;
  outline: none;
}

.viewer-transition {
  transition: all 0.3s;
}
.viewer-in {
  opacity: 1;
}
.viewer-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.viewer-canvas {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.viewer-canvas > img {
  height: auto;
  margin: 15px auto;
  max-width: 90% !important;
  width: auto;
}

.viewer-container img {
  display: block;
  height: auto;
  max-height: none !important;
  max-width: none !important;
  min-height: 0 !important;
  min-width: 0 !important;
  width: 100%;
}

.viewer-move {
  cursor: grab;
}

.viewer-footer, .viewer-hide, .viewer-tooltip, .viewer-player {
  display: none !important;
}
